@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

.header {
  background-color: rgb(147, 149, 151);
  color: var(--color-white);
  width: 100vw;
}
.header .inner {
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}
.header .menu li,
.header .logo a {
  display: inline-block;
  padding: 20px 20px;
  cursor: pointer;
}

a:visited {
  color: var(--color-white);
}

a {
  text-decoration: none;
}

.header .menu li:hover {
  color: yellow;
  background-color: grey;
}

main {
  background-color: #949398;
}

main .section {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

footer {
  background-color: aquamarine;
  width: 100%;
  height: 10vh;
}

#home {
  background-color: rgb(245, 223, 77);
  height: 300px;
}
#about {
  background-color: rgb(217, 152, 255);
  height: 300px;
}
#project {
  background-color: rgb(162, 164, 255);
  height: 300px;
}
#contact {
  background-color: rgb(142, 255, 179);
  height: 300px;
}

@media screen and (max-width: 689px) {
  .header .inner,
  .header .menu li {
    display: block !important;
    width: 100%;
    text-align: center;
  }

  .header .logo {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .header .menu li {
    padding: 30px 0;
  }

  a:visited {
    color: var(--color-black);
  }
}
